<%- include('shared/header.ejs') %>

    <div class="container my-5">
        <div class="col-md-12 m-auto text-right">
            <a class="add p-2 btn" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-plus-circle"></i> Add
        New</a>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <form action="/addNote" method="POST">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                    </div>
                    <div class="modal-body">
                        <input placeholder="Type Title" name="title" class="form-control" type="text">
                        <textarea class="form-control my-2" placeholder="Type your note" name="desc" id="" cols="30" rows="10"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-info"><i class="fas fa-plus-circle"></i> Add Note</button>
                    </div>
                </div>
            </div>
        </form>
    </div>



    <!-- ==========================Notes=============================== -->

    <div class="container">
        <div class="row">
            <% for( let index = 0; index < note.length; index++ ) { %>
                <div class="col-md-4 my-4">

                    <div class="note p-4">
                        <h3 id="title<%= note[index]._id %>" class="float-left">
                            <%= note[index].title %>
                        </h3>
                        <a onclick="editNote('<%= note[index]._id %>')" data-toggle="modal" data-target="#editModel"><i class="fas fa-edit float-right edit"></i></a>
                        <a onclick="getNoteId('<%= note[index]._id %>')" data-toggle="modal" data-target="#delete"> <i class="fas fa-trash-alt float-right px-3 del"></i></a>
                        <span class="clearfix"></span>
                        <p id="desc<%= note[index]._id %>">
                            <%= note[index].desc %>
                        </p>
                    </div>
                </div>
                <% } %>
                    <!-- Ahmed@123  -->
        </div>
    </div>





    <!-- delete Modal -->
    <div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body text-center">
                    Are you sure <br>process cannot undo
                </div>
                <form action="/handleDelete" method="post">
                    <input style="display: none;" type="text" name="delete" class="form-control" id="deleteInput">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <!-- edit modal -->

    <!-- Modal -->
    <div class="modal fade" id="editModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <form action="/editNote" method="POST">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                    </div>
                    <div class="modal-body">
                        <input style="display: none;" class="form-control" id='noteID' name="_id" type="text">
                        <input id="inputTitle" placeholder="Type Title" name="title" class="form-control" type="text">
                        <textarea id="inputDesc" class="form-control my-2" placeholder="Type your note" name="desc" id="" cols="30" rows="10"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-info"><i class="fas fa-plus-circle"></i> Update Note</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <%- include('shared/footer.ejs') %>